<article data-user-id="<%= comment.user.id %>">
  <h3>Comment by <%= render partial: 'partials/avatar', locals: { user: comment.user } %> <%= comment.user.name %></h3>
  <p><%= comment.content %></p>
</article>
